@import "../colors";

.content {
  align-items: center;
  grid-area: header;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 50px 1fr;
  height: 70px;
  padding: 10px 24px;
  background-color: $grey-blue;
  color: $light;
  font-weight: bold;
}

.avatar {
  height: 50px;
  width: 50px;
  background-color: $light;
  border-radius: 50%;
}
