@import "../colors";
.content {
  grid-area: list;
  display: grid;
  grid-row-gap: 25px;
  grid-auto-rows: min-content;
  padding: 25px 35px;
  overflow-y: auto;
}

.member {
  display: grid;
  grid-auto-rows: min-content;
}

.member_name {
  color: $dark-grey;
  font-size: 18px;
  line-height: 21px;
}

.member_desc {
  color: $light-grey;
  font-size: 14px;
  line-height: 16px;
}