@import "../colors";

.content {
  position: absolute;
  display: grid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
}

.closed {
  position: absolute;
  z-index: -10;
}

.item {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-column-gap: 10px;
  padding: 10px;
}

.avatar {
  border-radius: 50%;
  background-color: $light;
  height: 40px;
  width: 40px;
}

.details {
  font-size: 18px;
  align-items: center;
  display: grid;
  font-weight: bold;
}

.list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  display: grid;
  color: $light;
  grid-auto-rows: min-content;
  grid-row-gap: 15px;
  background-color: $grey-blue;
  padding: 30px 25px;
  z-index: 2;
}

.backdrop {
  width: 100%;
  background-color: rgba(38, 50, 56, 0.64);;
}

.active {
  background-color: $hover-grey;
  border-radius: 40px;
}
