html,
body,
#root {
  margin: 0;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.sidebar-enter {
  opacity: 0;
  transform: translateX(-200px);
}
.sidebar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.sidebar-exit {
  opacity: 1;
}
.sidebar-exit-active {
  visibility: hidden;
  transform: translateX(-200px);
  transition: opacity 300ms, transform 300ms;
}